:root {
  --main-color: rgb(255, 255, 255);
  --nav-bar-color: rgb(58, 35, 204);
  --nav-links-color: rgb(255, 255, 255);
  --nav-links-hover-color: rgb(216, 216, 216);
  --main-text-color: rgb(0, 0, 0);
  --second-text-color-gray: rgb(137, 137, 137);
  --input-background-color: rgb(185, 185, 185);
  --input-border-color: rgb(137, 137, 137);
  --footer-color: rgb(113, 105, 228);
}

*{
  font-family: Arial, sans-serif;
}
body{
  margin: 0;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 8% 87% 5%;
  font-family: Arial, sans-serif;
}
/* -------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------   header   --------------------------------------------- */

header{
  grid-row: 1;
  background-color: var(--nav-bar-color);
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

/* ----------------------------------------  logo image -------------------------------------- */

header .logo-div {
  display: flex;
  align-items: center;
  grid-column: 1;
}

header .logo-div .admin-home-link {
  margin-left: 20px;
  text-decoration: none;
}

/* -------------------------------------------  links  ------------------------------------------- */

header .links{
  grid-column: 2;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}

header .links .pages-ul{
  list-style: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

header .links .pages-ul li{
  margin-right: 15px;
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  background-color: var(--nav-links-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

header .links .pages-ul li:hover{
  background-color: var(--nav-links-hover-color);
}

header .links .pages-ul li a{
  text-decoration: none;
  color: var(--main-text-color);
}



/* -------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------   main   --------------------------------------------- */
main{
  display: grid;
  grid-row: 2;
  grid-template-rows: 10% 90%;
  row-gap: 0px;
}

main .head{
  grid-row: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


main .addBookForm-div{
  grid-row: 2;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}


main .addBookForm-div .addBookForm{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-column: 2;
  margin: 20px;
  overflow-y: scroll;
  width: 100%;
}

@media screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600 pixels or less */
  main .addBookForm-div{
    grid-template-columns: 5% 90% 5%;
  }
}
@media screen and (max-width: 1200px) {
  /* Styles for screens with a maximum width of 600 pixels or less */
  main .addBookForm-div{
    grid-template-columns: 5% 90% 5%;
  }
}

main .addBookForm-div .addBookForm::-webkit-scrollbar {
  width: 0;
  display: none;
}


main .addBookForm-div .addBookForm .form-row{
  width: 90%;
  margin: 10px;
}


main .addBookForm-div .addBookForm .form-row input,
#labelUpLoadBtn{
  width: 90%;
  height: 30px;
  display: block;
  background-color: var(--input-background-color);
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  text-align: center;
  border: var(--input-border-color) 1px solid;
}

#labelUpLoadBtn{
  min-width: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.coLabel{
  width: fit-content;
  position: relative;
  left: 10px;
  top: 10px;
  background-color: var(--main-color);
  box-sizing: border-box;
  border-radius: 50px;
  padding: 3px 5px;
  text-align: center;
  /* border: #898989 1px solid; */
}


#uploadBtn{
  display: none;
}


.selectionTag{
  background-color: var(--input-background-color);
  width: 200px;
  height: 45px;
  outline: none;
  padding: 5px 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.selectionTag .theOption{
  background-color: var(--input-border-color);
  outline: none;
}


.priceAndQuantity div{
  display: inline-block;
  width: 40%;
}
.priceAndQuantity div input{
  width: 50%;
}

.theDesc{
  max-width: 80%;
  max-height: 150px;
  min-height: 150px;
  resize: none;
  width: 70%;
  height: 150px;
  outline: none;
  border: 2px solid var(--input-border-color);
  font-size: 25px;
  color: var(--second-text-color-gray);
  border-radius: 5px;
  padding: 10px;
}

#descriptionArea::-webkit-scrollbar{
  width: 5px;
}
#descriptionArea::-webkit-scrollbar-thumb{
  width: 4px;
  background-color: var(--input-background-color);
  border-radius: 50px;
}

.submit-btn{
  min-width: 100px;
  width: 150px;
}

/* -------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------   footer   --------------------------------------------- */
footer{
  grid-row: 3;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
}