:root {
  --main-color: #c4c4c4;
}

:visited {
  color: rgb(179, 179, 179);
}

* {
  font-family: sans-serif;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.left-navbar ul {
  display: flex;
  flex-direction: row;

  margin-left: 20px;

  list-style: none;
}

.right-navbar ul {
  display: flex;
  flex-direction: row-reverse;

  list-style: none;
}

.right-navbar ul li {
  margin: 0px 20px;
}

.sub-title {
  margin: 60px 60px 30px 60px;
  font-size: 30px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-left: 15%;
  padding-right: 15%; */
  padding: 0 5%;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* mazen */
  /* background-color: #eee; */
  width: 98%;
  margin-bottom: 20px;
  border-radius: 15px;
}

.book .image {
  /* width: 20%; */
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.book .image img {
  width: 220px;
  height: auto;
  border-radius: 5px;
  max-width: 100%;
}

.book .info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.book .info .title {
  font-size: 20px;
  font-weight: bold;
}

.book .info .rate ul {
  list-style-type: none;
  display: flex;
  margin: 20px 0px;
}

.book .info .rate ul li {
  margin-right: 10px;
  font-size: 20px;
}

.checked {
  color: orange;
}

.book .card {
  /* width: 20%; */
  /* height: 220px; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 3rem;
  border-radius: 15px;
  background-color: rgb(184, 184, 184);
  font-size: var(--box-font-size);
}

.book .card .price {
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.book .card .price .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book .card .quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.book .card .quantity label {
  font-weight: bold;
}

.book .card .quantity input {
  appearance: textfield;
  width: 50px;
  height: 22px;
  text-align: center;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.book .card .buttons-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.book .card .buttons-group button {
  /* width: 80%; */
  /* height: 30px; */
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.book .card .buttons-group .buy-btn {
  background-color: #00add3;
}

.book .card .buttons-group .rmv-btn {
  background-color: rgb(252, 39, 39);
}

.book .card .buttons-group .buy-btn:hover {
  background-color: #067892;
  cursor: pointer;
}

.book .card .buttons-group .rmv-btn:hover {
  background-color: rgb(144, 12, 12);
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  padding: 1rem;
  border: none;
  height: auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .container .book h1 {
    font-size: 1.5rem;
  }

  .container .book .card {
    padding: 0.5rem;
  }

  .container .book .rmv-btn {
    padding: 0.5rem;
  }
}

footer {
  height: 27px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.52px;
}

/* mazen */
.summary{
      color: black;
      width: 135px;
      padding: -1px;
      /* margin: 20px auto;  */
      /* top: 195px; */
      /* left: 600px;  */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;  
      overflow: hidden;
      text-overflow: ellipsis;
}

/* mazen */
.save-cart{
  position: relative;
  left: 43%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(58, 108, 218);
  color : white;
  font-size: var(--box-font-size);
}

.place-cart{
  margin-bottom: 20px;
}